body {
    text-align: left;
    background-color: #eeeeee;
    font-family: verdana,sans-serif;
    font-size: 20px;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

ul>li, a {
    cursor: pointer;
}

.header {
    padding: 20px;
    height: 90px;
}

#waitingTimeTable {
    text-align: left;
    border: 1px;
}

.fullWidth {
    width: 100%;
    margin: 0px auto;
    float: left;
    white-space: nowrap;
    clear: both;
}

.rowLeft {
    float: left;
    max-width: 700px;
    min-height: 100px;
    overflow: hidden;
}

.rowCenter {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    display: inline-block;
}

.rowRight {
    float: right;
    display: inline-block;
}

.logoLeft{
    padding: 20px;
    float: left;
}

.newsticker {
    font-size: 12px;
}

.clockCenter {
    font-size: 18px;
}

.logoRight{
    padding: 5px;
}

h1 {
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

thead {
    font-size: 18px;
    height: auto;
    background-color: #e3e3e3;
    border-color: #ffffff;
    color: #333333;
}

.red {
    min-height: 30px;
    background-color: #d30038;
    border-left: 10px solid #d30038;
    border-right: 50px solid #d30038;
    display: block;
    position: relative;
    top: 45px;
    z-index: -1;
}

.newsTitle {
    font-weight: bold;
}

.newsContent {
    font-style: italic;
}