<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/angular-clock.css" rel="stylesheet">
    <title>RadScreen v0.5</title>
</head>
<body ng-app="AllModules" onload="startTime()">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="header">
    <div class="rowLeft">
        <img class="logoLeft" src="./gfx/unibas_logo_2015.png" alt="unibasel_logo" />
    </div>
    <div class="rowCenter">
        <div ng-include="'./modules/clock.html'"></div>
    </div>
    <div class="rowRight">
        <img class="logoRight" src="./gfx/logo.gif" alt="radiologie_logo" />
    </div>
</div>
<div class="fullWidth">
    <span class="red"></span>
    <div class="rowLeft">
        <h1><span>Newsticker</span></h1>
        <div class="newsticker" ng-include="'./modules/newsticker.html'"></div>
    </div>
    <div class="rowCenter">
        <h1><span>Wetter</span></h1>
            <!-- wetter.com button 170x200-->
            <div id="wettercom-button-ad0715ecf344b020f5f69a543be7e9da">
                <link id="wettercom-css"
                      href="http://www.wetter.com/css/woys3c.css?107638,ad0715ecf344b020f5f69a543be7e9da"
                      rel="stylesheet" type="text/css" property="" />
                <div id="wettercom-woys-ad0715ecf344b020f5f69a543be7e9da"></div>
                <div id="cityTitle">
                    <a href="http://www.wetter.com/wetter_aktuell/wettervorhersage/3_tagesvorhersage/?id=CH0CH0260"
                       target="_blank">Wetter Basel</a>
                </div>
                <div id="logo">
                    <a href="http://www.wetter.com" target="_blank"><img id="wettercom-logo"
                                                                         src="http://www.wetter.com/img/websitetools/woys/logo.png"
                                                                         alt="wetter.com" title="wetter.com"/></a>
                </div>
                <script type="text/javascript"
                        src="http://www.wetter.com/js/woys3c.js?107638,ad0715ecf344b020f5f69a543be7e9da"></script>
            </div>
            <!-- wetter.com button 170x200-->
        </div>
        <div class="rowRight">
            <div ng-include="'./modules/webcam.html'"></div>
        </div>
</div>
<div class="fullWidth">
    <span class="red"></span>
    <div ng-controller="PatientsCtrl">
        <h1><span>Die nächsten Patienten</span></h1>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Ticketnr.</th>
                <th>Gerät</th>
                <th>Termin</th>
                <th>Ungef&auml;hre Wartezeit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="case in data">
                <td ng-style="case.WARTEZEIT-0<-10 && {'background-color': 'red'} || case.WARTEZEIT-0<-5 && {'background-color': 'orange'}|| case.WARTEZEIT-0<1 && {'background-color': 'green'} || case.WARTEZEIT-0>1 && {'background-color': 'none'}">{{case.TICKET_NUMBER}}</td>
                <td ng-style="case.WARTEZEIT-0<-10 && {'background-color': 'red'} || case.WARTEZEIT-0<-5 && {'background-color': 'orange'}|| case.WARTEZEIT-0<1 && {'background-color': 'green'} || case.WARTEZEIT-0>1 && {'background-color': 'none'}">{{case.ARBEITSPLATZ}}</td>
                <td ng-style="case.WARTEZEIT-0<-10 && {'background-color': 'red'} || case.WARTEZEIT-0<-5 && {'background-color': 'orange'}|| case.WARTEZEIT-0<1 && {'background-color': 'green'} || case.WARTEZEIT-0>1 && {'background-color': 'none'}">{{case.TERMIN_DATUM}}</td>
                <td ng-style="case.WARTEZEIT-0<-10 && {'background-color': 'red'} || case.WARTEZEIT-0<-5 && {'background-color': 'orange'}|| case.WARTEZEIT-0<1 && {'background-color': 'green'} || case.WARTEZEIT-0>1 && {'background-color': 'none'}">
                    <span ng-if="case.WARTEZEIT-0 < 0">F&auml;llig seit {{case.WARTEZEIT | removeMinusChars}} Minute(n)</span>
                    <span ng-if="case.WARTEZEIT-0 > -1">Behandlung in ca. {{case.WARTEZEIT}} Minute(n)</span>
                    <span ng-if="case.WARTEZEIT == 'Laufende Untersuchung'">{{case.WARTEZEIT}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="js/angular.js"></script>
<script src="js/angular-resource.js"></script>
<script src="js/angular-clock.js"></script>
<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="app/app.js"></script>
</body>
</html>
